<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Runs</title>
</head>
<body>
<h2>Runs:</h2>
<table>
<tr>
    <th>Name</th>
    <th>Jockey</th>
    <th>Trainer</th>
    <th>Owner</th>
    <th>Colours</th>
<th>Syntax</th>
</tr>


<tr th:each="runner:${runners}">
<td th:text="${runner.horse.name}"></td>
    <td th:text="${runner.jockey.name}"></td>
    <td th:text="${runner.trainer.name}"></td>
    <td th:text="${runner.owner.name}"></td>
    <td th:text="${runner.owner.colours}"></td>
    <td th:text="${runner.owner.parsedRacingColours.parseInfo.syntax}"></td>
    <td><svg width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" th:utext="${runner.owner.svgContent}"></svg></td>
</tr>


</table>
</body>
</html>