<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JockeyColours</title>
</head>
<body>
Hello from JockeyColours templates
<table>
    <tr><th>Date</th>
        <th>Course</th>
        <th>Name</th>
        <th>Race Type</th>
    </tr>


    <tr th:each="race:${races}">
        <td th:text="${race.Date}"></td>
        <td th:text="${race.Course}"></td>
        <td th:text="${race.Name}"></td>
        <td th:text="${race.Race_Type}"></td>
    </tr>


</table>
</body>
</html>